body {
    display: grid;
    min-height: 100dvh;
    /* min-width: 100dvw; */
    grid-template-rows: auto 1fr auto;

    background-image:
        url(../general/background_hero.jpg),
        linear-gradient(#706D8C 0%, #C28783 75%, #F5CB9A 100%);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;

    margin: 1rem 2rem;

    font-family: "Exo 2", sans-serif;
}